<!doctype html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>GameJam FIT 2022</title>
    <link rel="stylesheet" href="../styles.scss">
    <meta name="description" content="Grafit group and SAGELab is inviting you to a two-day GameJam FIT 2022">
    <meta property="og:url" content="https://aphgames.cz/gamejam/en">
    <meta property="og:title" content="GameJam FIT 2022">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://aphgames.cz/gamejam/misc/ogimage.jpg">
    <meta property="og:description" content="Grafit group and SAGELab is inviting you to a two-day GameJam FIT 2022">
    <meta property="og:site_name" content="GameJam FIT 2022">
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0">
</head>

<body>
    <div class="bgr rellax">
        <div class="path">
            <img alt="background" src="../../assets/bgr.jpg" />
        </div>
        <div class="pad1">
            <img alt="gamepad" src="../../assets/pad1.png" />
        </div>
        <div class="pad2">
            <img alt="gamepad" src="../../assets/pad2.png" />
        </div>
    </div>
    <div class="container">
        <section class="org">
            <h2 class="grafit">Grafit and SAGELab</h2>
            <h2 class="faculty">Faculty of Information Technology, CTU in Prague</h2>
        </section>


        <section class="title">
            <h1>GameJam</h1>
            <h2>FIT</h2>
            <div class="date">FR 15.4 11 AM - SU 17.4. 4 PM<br>FIT CTU, Thákurova 9 Prague</div>
            <div class="links">
                <a href="https://www.facebook.com/events/463260381012559/">
                    <img alt="facebook icon" src="../../assets/icon_facebook.svg" />
                </a>
                <a href="https://discord.gg/YZZUfYH9">
                    <img alt="discord icon" src="../../assets/icon_discord.svg" />
                </a>
                <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdOgCJJJAxckOgGXdcur9wF5P04AfuvP2Kym-Re9gnheS54Wg/viewform">
                    Register
                </a>
            </div>
        </section>
    </div>
    <section class="content alt">
        <div class="desc">
            <div>
                <p>Sign up either as a team or an individual and engage in an 48-hour event to make up a game in any engine of your choosing. The event is primarily intended for students, yet anyone can apply. You will have the opportunity to benefit from regular feedback provided by a few lecturers from FIT CTU, as well as some people from the game industry during the evaluation part, such as Warhorse Studios.</p>
                <p>The event will take place in FIT CTU (Thákurova 9 Prague, the introduction will be held in a room TH:A-1455). You can look forward to a rich program that will ease your time spent on hacking - lightning talks, a lot of food, and gaming. All pieces of information can be found on our <a href="https://discord.gg/YZZUfYH9">Discord</a>.</p>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="info">
            Program
        </div>
        <div class="program">
            <div class="day">
                <h3>Friday 15.4.</h3>
                <div class="terms">
                    <div>11:00 AM</div>
                    <div>Introduction</div>
                    <div>12:00 PM</div>
                    <div>The gamejam begins</div>
                    <div>8:00 PM</div>
                    <div>Showcase of past games and discussion</div>
                    <div>10:00 PM</div>
                    <div>Restricted mode of the building</div>
                    <div>10:00 PM</div>
                    <div>Networking and game night</div>
                </div>
            </div>
            <div class="day">
                <h3>Saturday 16.4.</h3>
                <div class="terms">
                    <div>5:00 AM</div>
                    <div>Restricted mode ends</div>
                    <div>1:00 PM</div>
                    <div>Minitalk about game design and mechanics</div>
                    <div>3:00 PM</div>
                    <div>VR tournament</div>
                    <div>8:00 PM</div>
                    <div>Happy Hour</div>
                    <div>10:00 PM</div>
                    <div>Restricted mode of the building</div>
                    <div>11:00 PM</div>
                    <div>Networking and game night</div>
                </div>
            </div>
            <div class="day">
                <h3>Sunday 17.4.</h3>
                <div class="terms">
                    <div>5:00 AM</div>
                    <div>Restricted mode ends</div>
                    <div>12:00 PM</div>
                    <div>Deadline and submission</div>
                    <div>12:30 PM</div>
                    <div>Project presentation and evaluation</div>
                    <div>3:00 PM</div>
                    <div>Winners announcement</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content odd">
        <div class="info">
            Sponsors
        </div>
        <div class="sponsors">
            <div>
                <img alt="warhorse" src="../../assets/partners_warhorse.png" />
            </div>
            <div>
                <img alt="warhorse" src="../../assets/partners_ipr.png" />
            </div>
        </div>
    </section>    
    <section class="footer dashed">
        <p>Copyright © 2022 <a href="https://fit.cvut.cz">FIT ČVUT</a></p>
        <p>Created by <a href="https://aphgames.cz">APHGAMES.CZ</p>
    </section>
</body>
<script type="text/javascript" src="../code.ts"></script>

</html>