@import "./colors.scss";
@import "../internals/effects.scss";

:root[data-theme="dark"] {
	--ifm-background-color: #{$color-firefly};
	--ifm-blockquote-color: #{$color-royal};
	--ifm-code-background: #{$color-rhino-90};
	--ifm-code-color: #{$color-rhino-100};
	--ifm-color-emphasis-300: #{$color-royal};

	--ifm-color-primary: #{$color-white};
	--ifm-color-primary-dark: #{$color-rhino-5};
	--ifm-color-primary-darker: #{$color-rhino-10};
	--ifm-color-primary-darkest: #{$color-rhino-40};
	--ifm-color-primary-light: #{$color-white};
	--ifm-color-primary-lighter: #{$color-white};
	--ifm-color-primary-lightest: #{$color-white};
	--ifm-color-info: #{$color-azure};
	--ifm-color-success: #{$color-emerald};
	--ifm-color-warning: #{$color-goldenrod};
	
	--ifm-dropdown-background-color: #{$color-firefly};
	--ifm-dropdown-hover-background-color: #{$color-texasrose};
	--ifm-dropdown-link-color: #{$color-white};
	
	--ifm-font-color-base: #{$color-rhino-100};
	--ifm-link-color: #{$color-royal-light};
	--ifm-navbar-background-color: #{$color-firefly};
	--ifm-navbar-shadow: 0 1px 0 0 #{$color-firefly-light};
	--ifm-pre-background: #{$color-rhino-100};
	--ifm-toc-border-color: #{$color-white-10};
	
	--ifm-menu-color: #{$color-white};
	--ifm-menu-color-background-active: #{$color-rhino-80};
	--ifm-menu-color-active: #{$color-white};
	--ifm-footer-background-color: #{$color-firefly-light};
	--ifm-footer-padding-vertical: 20px;

	--ifm-footer-color: #{$color-midnight-dark};
	--ifm-navbar-link-color: #{$color-white};
	--ifm-navbar-link-hover-color: #{$color-texasrose};

	--aa-primary-color-rgb: 255, 255, 255;
	--aa-input-border-color-rgb: 255, 255, 255;
}

.header-github-link, .header-lang-link, .header-youtube-link {
	opacity: 0.8;

	&:hover {
		opacity: 1.0;
	}
}


.header-github-link:before {
	background: url('/img/global/github.svg');
	background-size: 100% 100%;
	content: "";
	display: flex;
	height: 26px;
	width: 26px;
}

.header-youtube-link:before {
	background: url('/img/global/youtube.png');
	background-size: 100% 100%;
	content: "";
	display: flex;
	height: 26px;
	width: 26px;
}

/* Search plugin colors */
body[data-theme="dark"] {
	.aa-DetachedSearchButton,
	.aa-DetachedCancelButton,
	.aa-Autocomplete,
	.aa-DetachedSearchButtonIcon,
	.aa-DetachedFormContainer,
	.aa-InputWrapper,
	.aa-SubmitButton,
	.aa-Label,
	.aa-Input,
	#autocomplete-0-input,
	#autocomplete-0-label {
		color: #{$color-white} !important;
	}

	.aa-InputWrapper {
		::placeholder {
			color: #{$color-rhino-40};
		  }
	}

	.aa-DetachedSearchButton,
	.aa-Form,
	.aa-DetachedFormContainer {
		background-color: #{$color-firefly} !important;
	}
}

html[data-theme="dark"] {
	.menu__link--active.menu__link--sublist {
		color: #{$color-white};
	}

	.navbar__brand {
		margin-right: 0;
	}

	.navbar__toggle  {
		color: #{$color-white};
	}

	nav {
		--ifm-link-color: #{$color-lemon};
	}

	.markdown {
		--ifm-table-background: #{$color-white-3};
		--ifm-table-border-color: #{$color-midnight};
		--ifm-table-head-background: #{$color-rhino-90};
		--ifm-table-head-color: #{$color-white};
		--ifm-table-stripe-background: #{$color-white-3};
	}

	.admonition {
		--ifm-color-info: #{$color-royal};
		--ifm-color-success: var(--ifm-color-primary-lightest);
		--ifm-heading-color: #000;
	}

	.alert--success {
		--ifm-alert-background-color: #{$color-emerald};
		--ifm-alert-border-color: #{$color-emerald};
	}

	.alert--secondary {
		--ifm-alert-background-color: #{$color-royal};
		--ifm-alert-border-color: #{$color-royal};
	}

	.alert--warning {
		--ifm-alert-background-color: #{$color-lemon};
		--ifm-alert-border-color: #{$color-lemon};
	}

	main article header h2 a {
		color: $color-rhino-5;
	}

	.footer {
		border-style: dashed none none;
		border-top-width: 0.15rem;
		border-top-color: #{$color-texasrose};
	}

	/* Firefox */
	* {
		scrollbar-color: #{$color-royal} #{$color-rhino-90};
	}

	::-webkit-scrollbar-track {
		background: #{$color-rhino-90} !important;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 0 !important;
		background: #{$color-royal} !important;
	}

	::-webkit-scrollbar-corner {
		background: #{$color-rhino-90} !important;
	}
}
