@import "./colors.scss";
@import "./fonts.scss";

:root[data-theme="dark"] {
	--transition-bezier: cubic-bezier(0.17, 0.67, 0.83, 0.67);
	--font-family-base: Verdana, Helvetica, sans-serif;
	--ifm-code-font-size: #{$font-size-normal};
	--ifm-font-family-base: var(--font-family-base);
	--ifm-font-family-monospace: "Inconsolata", monospace;
	--ifm-font-size-base: #{$font-size-normal};
	--ifm-h1-font-size: #{$font-size-xxlarge};
	--ifm-h2-font-size: #{$font-size-xlarge};
	--ifm-h3-font-size: #{$font-size-large};
	--ifm-h4-font-size: #{$font-size-normal};
	--ifm-heading-margin-bottom: 1.5rem;
	--ifm-menu-link-sublist-icon: url("/img/infima/arrow.svg");
	--ifm-navbar-height: 80px;
	--ifm-navbar-item-padding-horizontal: 20px;
	--ifm-paragraph-margin-bottom: 1.25rem;
	--ifm-table-cell-padding: 0.15rem 1rem;


	--ifm-background-color: #{$color-firefly};
	--ifm-blockquote-color: #{$color-royal};
	--ifm-code-background: #{$color-rhino-90};
	--ifm-code-color: #{$color-rhino-100};
	--ifm-color-emphasis-300: #{$color-royal};

	
	--ifm-color-primary: #{$color-white};
	--ifm-color-primary-dark: #{$color-rhino-5};
	--ifm-color-primary-darker: #{$color-rhino-10};
	--ifm-color-primary-darkest: #{$color-rhino-40};
	--ifm-color-primary-light: #{$color-white};
	--ifm-color-primary-lighter: #{$color-white};
	--ifm-color-primary-lightest: #{$color-white};
	--ifm-color-info: #{$color-azure};
	--ifm-color-success: #{$color-emerald};
	--ifm-color-warning: #{$color-goldenrod};
	
	--ifm-heading-color: var(--ifm-color-primary);
	
	--ifm-dropdown-background-color: #{$color-firefly};
	--ifm-dropdown-hover-background-color: #{$color-texasrose};
	--ifm-dropdown-link-color: #{$color-white};
	
	--ifm-font-color-base: #{$color-white};
	--ifm-link-color: #{$color-azure-light};
	--ifm-navbar-background-color: #{$color-firefly};
	--ifm-navbar-shadow: 0 1px 0 0 #{$color-firefly-light};
	--ifm-pre-background: #{$color-rhino-100};
	--ifm-toc-border-color: #{$color-white-10};
	
	--ifm-menu-color: #{$color-white};
	--ifm-menu-color-background-active: #{$color-rhino-80};
	--ifm-menu-color-active: #{$color-white};
	--ifm-footer-background-color: #{$color-firefly-dark};
	--ifm-footer-padding-vertical: 20px;

	--ifm-footer-color: #{$color-white};
	--ifm-navbar-link-color: #{$color-white};
	--ifm-navbar-link-hover-color: #{$color-texasrose};

	--aa-primary-color-rgb: 255, 255, 255;
	--aa-input-border-color-rgb: 255, 255, 255;
}


/* Search plugin colors */
body[data-theme="dark"] {
	.aa-DetachedSearchButton,
	.aa-DetachedCancelButton,
	.aa-Autocomplete,
	.aa-DetachedSearchButtonIcon,
	.aa-DetachedFormContainer,
	.aa-InputWrapper,
	.aa-SubmitButton,
	.aa-Label,
	.aa-Input,
	#autocomplete-0-input,
	#autocomplete-0-label {
		color: #{$color-white} !important;
	}

	.aa-InputWrapper {
		::placeholder {
			color: #{$color-rhino-40};
		  }
	}

	.aa-DetachedSearchButton,
	.aa-Form,
	.aa-DetachedFormContainer {
		background-color: #{$color-firefly} !important;
	}
}

/* Docaurus overrides */
html[data-theme="dark"] {
	.menu__link--active.menu__link--sublist {
		color: #{$color-white};
	}

	.menu__link {
		border-radius: 8px;
	}
	
	.markdown {
		--ifm-h2-vertical-rhythm-top: 3;
		--ifm-h3-vertical-rhythm-top: 2;
		--ifm-heading-vertical-rhythm-top: 2; /* h4 */
		--ifm-heading-vertical-rhythm-bottom: 0.4;
		--ifm-table-border-width: 4px;
	}

	.navbar__brand {
		margin-right: 0;
	}

	.navbar__toggle  {
		color: #{$color-white};
	}

	nav {
		--ifm-link-color: #{$color-lemon};
	}

	.markdown {
		--ifm-table-background: #{$color-white-3};
		--ifm-table-border-color: #{$color-midnight};
		--ifm-table-head-background: #{$color-rhino-90};
		--ifm-table-head-color: #{$color-white};
		--ifm-table-stripe-background: #{$color-white-3};
	}

	.admonition {
		--ifm-color-info: #{$color-royal};
		--ifm-color-success: var(--ifm-color-primary-lightest);
		--ifm-heading-color: #000;
	}

	.alert--success {
		--ifm-alert-background-color: #{$color-emerald};
		--ifm-alert-border-color: #{$color-emerald};
	}

	.alert--secondary {
		--ifm-alert-background-color: #{$color-royal};
		--ifm-alert-border-color: #{$color-royal};
	}

	.alert--warning {
		--ifm-alert-background-color: #{$color-lemon};
		--ifm-alert-border-color: #{$color-lemon};
	}

	main article header h2 a {
		color: $color-rhino-5;
	}

	.footer {
		--ifm-link-color: #{$color-azure-light};
	}

	#__docusaurus {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	/* Pagination */
	.navbar__link,
	.dropdown__link {
		font-size: var(--ifm-font-size-base);
	}

	/* Firefox */
	* {
		scrollbar-color: #{$color-royal} #{$color-rhino-90};
	}

	::-webkit-scrollbar-track {
		background: #{$color-rhino-90} !important;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 0 !important;
		background: #{$color-royal} !important;
	}

	::-webkit-scrollbar-corner {
		background: #{$color-rhino-90} !important;
	}
}

/* HEADER */
.header-github-link, .header-lang-link, .header-youtube-link {
	opacity: 0.8;

	&:hover {
		opacity: 1.0;
	}
}


.header-discord-link:before {
	background: url('/img/global/discord.png');
	background-size: 100% 100%;
	content: "";
	display: flex;
	height: 26px;
	width: 26px;
}


/* OTHER OVERRIDES */
 nav {
	--ifm-font-size-base: #{$font-size-normal};
}

canvas {
	max-width: 100%;
}


/* due to parallax issues */
html,
body {
	height: 100%;
}

body {
	margin: 0;
	transition: var(--ifm-transition-fast) ease color;
}


/**
 *
 * Custom global styles
 *
 **/

/* Firefox */
* {
	scrollbar-width: thin;
}

/* WebKit / Blink */
::-webkit-scrollbar {
	width: 7px !important;
	height: 7px !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 0 !important;
}

/* There are too many links*/
@media (max-width: 1100px) {
	.navbar__item, .navbar__item > .navbar__link {
		font-size: 0.9rem;
	}
}