@import "./variables.scss";
@import "../internals/colors.scss";
@import "../internals/effects.scss";

.section {
	width: 100%;
}

.section--title {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0.9;
	font-size: min(12vw, 6rem) !important;
	text-transform: uppercase;
	text-shadow: -0.3vw -0.3vw 0.5vw $color-midnight;
	margin: 0;
	text-align: center;
	line-height: min(15vw, 7rem);

	div {
		font-weight: 800;
		background-color: $color-firefly;
		color: $color-texasrose-light;
		margin: 0px;
	}
}

.section--inner {
	display: flex;
	max-width: var(--ifm-container-width);
	width: 100%;
	justify-content: center;
	padding: 4.5rem 1rem;
	margin: 0 auto;
	--ifm-code-padding-horizontal: 1.5rem;
	--ifm-code-padding-vertical: 1rem;
	--ifm-pre-padding: 1rem 1.5rem;
}

@media (max-width: 996px) {
	.section--inner {
		flex-direction: column;
	}
}



.section--padding {
	padding: 2rem;
}

.section + .section {
	border-style: dashed none none;
	border-top-width: 0.15rem;
	border-top-color: #{$color-texasrose};
}

.section__title {
	font-size: $font-size-xxlarge;
}

.section__subtitle {
	font-size: $font-size-llarge;
	font-weight: var(--ifm-font-weight-normal);
	color: $color-royal;
}

@media (max-width: 1026px) {
	.section__title {
		font-size: $font-size-xlarge;
	}

	.section__subtitle {
		font-size: $font-size-large;
	}
}