<!doctype html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>GameJam FIT 2022</title>
    <link rel="stylesheet" href="./styles.scss">
    <meta name="description" content="Skupina Grafit a SAGELab tě zve na dvoudenní GameJam FIT 2022">
    <meta property="og:url" content="https://aphgames.cz/gamejam">
    <meta property="og:title" content="GameJam FIT 2022">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://aphgames.cz/gamejam/misc/ogimagey.jpg">
    <meta property="og:description" content="Skupina Grafit a SAGELab tě zve na dvoudenní GameJam FIT 2022">
    <meta property="og:site_name" content="GameJam FIT 2022">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0">
</head>

<body>
    <div class="bgr rellax">
        <div class="path">
            <img alt="background" src="../assets/bgr.jpg" />
        </div>
        <div class="pad1">
            <img alt="gamepad" src="../assets/pad1.png" />
        </div>
        <div class="pad2">
            <img alt="gamepad" src="../assets/pad2.png" />
        </div>
    </div>
    <div class="container">
        <section class="org">
            <h2 class="grafit">Grafit a SAGELab</h2>
            <h2 class="faculty">Fakulta Informačních Technologií ČVUT</h2>
        </section>


        <section class="title">
            <h1>GameJam</h1>
            <h2>FIT</h2>
            <div class="date">PÁ 15.4 11:00 - NE 17.4. 16:00<br>Budova FIT ČVUT, Thákurova 9</div>
            <div class="links">
                <a href="https://www.facebook.com/events/463260381012559/">
                    <img alt="facebook icon" src="../assets/icon_facebook.svg" />
                </a>
                <a href="https://discord.com/invite/qDZJ8QM4mz">
                    <img alt="discord icon" src="../assets/icon_discord.svg" />
                </a>
                <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdOgCJJJAxckOgGXdcur9wF5P04AfuvP2Kym-Re9gnheS54Wg/viewform">
                    Registrace
                </a>
            </div>
        </section>
    </div>
    <section class="content alt">
        <div class="desc">
            <div>
                <p>Přihlaš se se svým týmem nebo jako jednotlivec a vytvoř během 48 hodin hru v enginu dle tvého uvážení. Akce je vhodná především pro studenty, ale přihlásit se může kdokoliv. K dispozici ti bude několik lektorů z FIT ČVUT a během hodnocení budeš mít možnost získat cenný feedback od lidí z branže jako je Warhorse Studios.</p>
                <p>Akce bude probíhat na půdě FIT ČVUT (Thákurova 9 Praha, úvodní slovo v místnosti TH:A-1455), součástí bude bohatý program, spousta jídla a i nějaká ta zábava. Všechny organizační informace nalezneš na našem <a href="https://discord.com/invite/qDZJ8QM4mz">Discordu</a>.</p>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="info">
            Program
        </div>
        <div class="program">
            <div class="day">
                <h3>Pátek 15.4.</h3>
                <div class="terms">
                    <div>11:00</div>
                    <div>Úvodní slovo</div>
                    <div>12:00</div>
                    <div>Začátek soutěže - přesun do jednotlivých místností</div>
                    <div>20:00</div>
                    <div>Ukázky minulých prací a debata</div>
                    <div>22:00</div>
                    <div>Omezený režim provozu budovy</div>
                    <div>22:00</div>
                    <div>Socializace a game night</div>
                </div>
            </div>
            <div class="day">
                <h3>Sobota 16.4.</h3>
                <div class="terms">
                    <div>5:00</div>
                    <div>Konec omezeného režimu</div>
                    <div>13:00</div>
                    <div>Minipřednáška o herním designu a mechanikách</div>
                    <div>15:00</div>
                    <div>VR turnaj</div>
                    <div>20:00</div>
                    <div>Možná přijde i kouzelník</div>
                    <div>22:00</div>
                    <div>Omezený režim provozu budovy</div>
                    <div>23:00</div>
                    <div>Socializace a game night</div>
                </div>
            </div>
            <div class="day">
                <h3>Neděle 17.4.</h3>
                <div class="terms">
                    <div>5:00</div>
                    <div>Konec omezeného režimu</div>
                    <div>12:00</div>
                    <div>Konec programovací části</div>
                    <div>12:30</div>
                    <div>Prezentace prací a hodnocení výsledků</div>
                    <div>15:00</div>
                    <div>Vyhlášení vítězů</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content odd">
        <div class="info">
            Sponzoři
        </div>
        <div class="sponsors">
            <div>
                <img alt="warhorse" src="../assets/partners_warhorse.png" />
            </div>
            <div>
                <img alt="ipr" src="../assets/partners_ipr.png" />
            </div>
            <div>
                <img alt="cesnet" src="../assets/partners_cesnet.png" />
            </div>
        </div>
    </section>    
    <section class="footer dashed">
        <p>Copyright © 2022 <a href="https://fit.cvut.cz">FIT ČVUT</a></p>
        <p>Created by <a href="https://aphgames.cz">APHGAMES.CZ</p>
    </section>
</body>
<script type="text/javascript" src="./code.ts"></script>

</html>