<!doctype html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>GameJam FIT 2022</title>
    <link rel="stylesheet" href="./styles.scss">
    <meta name="description" content="Skupina Grafit a SAGELab tě zve na dvoudenní GameJam FIT 2022">
    <meta property="og:url" content="https://gamejam.aphgames.cz">
    <meta property="og:title" content="GameJam FIT 2022">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://gamejam.aphgames.cz/ogimage.jpg">
    <meta property="og:description" content="Skupina Grafit a SAGELab tě zve na dvoudenní GameJam FIT 2022">
    <meta property="og:site_name" content="GameJam FIT 2022">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0">
</head>

<body>
    <div class="parallax" id="parallax">
        <div id="bgr_x3" class="rellax bgr x3" data-rellax-speed="0">
            <img alt="background" src="../assets/parallax/03x.jpg" />
        </div>
        <div id="bgr_x2" class="rellax bgr x2" data-rellax-speed="0.5">
            <img alt="background" src="../assets/parallax/02x.png" />
        </div>
        <div id="bgr_x1" class="rellax x1" data-rellax-speed="0">
            <img alt="background" src="../assets/parallax/01x.png" />
        </div>
        <div id="bgr_x4" class="rellax x4">
            <img alt="background" src="../assets/parallax/04x.png" />
        </div>
        <div id="bgr_x5" class="rellax x5">
            <img alt="background" src="../assets/parallax/05x.png" />
        </div>
        <div id="bgr_x6" class="rellax x6">
            <img alt="background" src="../assets/parallax/06x.png" />
        </div>
        <div id="bgr_x7" class="rellax x7">
            <img alt="background" src="../assets/parallax/07x.png" />
        </div>
        <div id="bgr_x8" class="rellax x8">
            <img alt="background" src="../assets/parallax/08x.png" />
        </div>
        <div class="title">
            <h1>GameJam</h1>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="container">
       <section class="org">
        <h2 class="grafit">Grafit a SAGELab</h2>
        <h2 class="faculty">Fakulta Informačních Technologií ČVUT</h2>
        <div class="date">PÁ 4.11 16:00 - NE 6.11. 16:00<br>Budova FIT ČVUT, Thákurova 9</div>
        <div class="links">
            <a class="btn" href="https://discord.com/invite/qDZJ8QM4mz">
                Discord
            </a>
            <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdOgCJJJAxckOgGXdcur9wF5P04AfuvP2Kym-Re9gnheS54Wg/viewform">
                Registrace
            </a>
        </div>
        </section>
       <section class="content">
           <div class="desc">
               <div>
                    <p>Tož ať už jsi sám nebo s hotovým týmem, pojď během víkendu ukuchtit suprovou hru. Použij engine, který dobře znáš, přidej tři ze čtyř povinných ingrediencí, míchej 2 dny, okořeň originálními nápady a podávej. A třeba zrovna tvůj recept bude ten vítězný.</p>
                   <p>K dispozici ti budou rady zkušených kuchařů a budeš mít možnost získat i cenný feedback od různých lidí z herního průmyslu.</p>
                   <p>Akce bude probíhat na půdě FIT ČVUT (Thákurova 9 Praha, úvodní slovo v místnosti TH:A-1455), součástí bude bohatý program, spousta jídla a i nějaká ta zábava. Všechny organizační informace nalezneš na našem <a href="https://discord.com/invite/qDZJ8QM4mz">Discordu</a>.</p>
               </div>
           </div>
       </section>
       <section class="content">
           <div class="info">
               Program
           </div>
           <div class="program">
               <div class="day">
                   <h3>Pátek 4.11.</h3>
                   <div class="terms">
                       <div>16:00</div>
                       <div>Úvodní slovo</div>
                       <div>17:00</div>
                       <div>Ukázky minulých prací</div>
                       <div>18:00</div>
                       <div>Začátek soutěže</div>
                       <div>22:00</div>
                       <div>Noční režim</div>
                   </div>
               </div>
               <div class="day">
                   <h3>Sobota 5.11.</h3>
                   <div class="terms">
                       <div>5:00</div>
                       <div>Konec nočního režimu</div>
                       <div>16:00</div>
                       <div>Game Quiz</div>
                       <div>20:00</div>
                       <div>Možná přijde i kouzelník</div>
                       <div>22:00</div>
                       <div>Noční režim</div>
                   </div>
               </div>
               <div class="day">
                   <h3>Neděle 6.11.</h3>
                   <div class="terms">
                       <div>5:00</div>
                       <div>Konec nočního režimu</div>
                       <div>16:00</div>
                       <div>Konec programovací části</div>
                       <div>16:30</div>
                       <div>Prezentace a hodnocení</div>
                       <div>18:00</div>
                       <div>Vyhlášení vítězů</div>
                   </div>
               </div>
           </div>
           <div class="timeline">
                <img src="../assets/timeline.svg" alt="timeline" />
           </div>
       </section>
       <section class="content">
           <div class="info">
               Sponzoři
           </div>
           <div class="sponsors">
               <div>
                   <img alt="warhorse" src="../assets/partners_warhorse.png" />
               </div>
               <div>
                   <img alt="ipr" src="../assets/partners_ipr.png" />
               </div>
               <div>
                   <img alt="cesnet" src="../assets/partners_cesnet.png" />
               </div>
           </div>
       </section>    
       <section class="footer dashed">
           <p>Copyright © 2022 <a href="https://fit.cvut.cz">FIT ČVUT</a></p>
           <p>Created by <a href="https://aphgames.cz">APHGAMES.CZ</p>
       </section>
    </div>
</body>
<script type="module" src="./code.ts"></script>

</html>