
$bgr-primary: #fae142;
$bgr-second: #f5db34;
$bgr-tertiary: #fff29b;
$bgr-dark: #9d931e;
$bgr-link: #1e6cc3;

$content-color: #222;

html {
	font-size: 100%;
}

body {
	color: $content-color;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
}

html, body {
	/* necessary for parallax... there were issues with mobiles that have address bar visible */
	height: 100%;
}

.parallax {
	height: 100%;


	.overlay {
		width: 100%;
		height: 100%;
		background-image: url('../assets/noise.png');
		background-repeat: repeat repeat;
		position: absolute;
	}

	.rellax {
		&.bgr {
			left: 0px;
			top: 0px;
			width: 100%;
		}
	
		position: absolute;
		left: 0px;
		bottom: 0vh;
		overflow:hidden;
		width: 100%;

		img {
			width: 100%;
		}
	
		&.x1 {
			left: calc(50% - 25vh);
			top: 20vh;
			width: auto;
	
			img {
				width: 50vh;
			}
		}

		&.x2 {
			@media (orientation: portrait) {
				top: 25vh;
			}
			top: -20vh;
		}

		&.x7 {
			@media (orientation: landscape) {
				top: -10vh;
			}
			@media (orientation: portrait) {
				top: 40vh;
			}
		}
	}
}

.title {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0.9;
	font-size: min(7vw, 6rem);
	text-transform: uppercase;
	text-shadow: -0.3vw -0.3vw 0.5vw #111;
	margin: 0;
	text-align: center;

	h1 {
		background-color: #c51a43;
		color: #fae142;
		margin: 0px;
	}
}

.container {
	position: relative;
	background-color: $bgr-primary;
}

section {
	@extend .dashed;

}

a:visited, a:link {
	color: $bgr-link;
}

.dashed {
	border-top: 2px solid #fff;
	border-style: dashed none none none;
}

.org {
	margin-bottom: 2vw;
	text-align: center;
	z-index: 100;
	font-size: min(2.5rem, 4vw);

	.faculty {
		text-transform: uppercase;
	}

	.date {
		font-size: min(2.2rem, 3vw);
		margin-left: 1vw;
		font-weight: bold;
	}

	.links {
		margin-top: 5vw;

		.btn {
			color: $content-color;
			background: $bgr-second;
			display: inline-block;
			position: relative;
			bottom: 1.8vw;
			text-align: center;
			font-size: min(5vw, 2.5rem);
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px;
			margin-left: 10px;
			padding-bottom: 10px;
			text-decoration: none;
			box-shadow: inset -2px -2px 0px 0px #111;
		  }
		  
		  .btn:hover,
		  .btn:focus {
			background: $bgr-tertiary;
			box-shadow: inset -2px -2px 0px 0px $bgr-dark;
		  }
		  
		  .btn:active {
			box-shadow: inset 2px 2px 0px 0px $bgr-dark;
		  }
		  
		  .btn:before,
		  .btn:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			box-sizing: content-box;
		  }
		  
		  .btn:before {
			top: -3px;
			left: 0;
			border-top: 3px #333 solid;
			border-bottom: 3px #333 solid;
		  }
		  
		  .btn:after {
			left: -3px;
			top: 0;
			border-left: 3px #333 solid;
			border-right: 3px #333 solid;
		  }
		  

	}
}

.sponsors {
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;

	img {
		max-height: 150px;
		width: auto;
		max-width: 100%;
		margin: 15px;
	}
}

.content {
	position: relative;
	z-index: 100;
	padding: 10px;
	font-weight: bold;
	font-size: 2rem;
	

	.desc {
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: min(1.5rem, 4vw);
		line-height: 2rem;

		>div {
			padding: 10px;
			padding-left: 30px;
			padding-right: 30px;
			margin: 20px;
			max-width: 700px;
			font-weight: normal;
			@extend .contentBox;
		}
	}

	.info {
		text-transform: uppercase;
		text-align: center;
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.program {
		font-size: min(1.5rem, 4vw);
		font-weight: normal;
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;

		.day {
			width: min(500px, 100vw);
			padding: 10px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			margin: 10px;
			@extend .contentBox;

			>h3 {
				padding-left: 20px;
			}

			.terms {
				display: grid;
				grid-template-columns: 30% 70%;
				line-height: 2.5rem;

				div:nth-child(2n + 1) {
					text-align: right;
					padding-right: 20px;
					font-size: min(1.2rem, 3vw);
				}
			}
		}
	}

	.timeline {
		/* not visible for portrait */
		@media (orientation: portrait) {
			display: none;
		}

		@media (orientation: landscape) {
			padding-top: 2rem;
			text-align: center;

			img {
				width: min(80rem, 100%);
			}
		}
	}


	.events {
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: center;

		@mixin mygradient {
			background: linear-gradient(to right,  $bgr-second 0%,rgba(255,255,255,0) 100%);
		}
		
		$animationSpeed: 30s;
		$imageNum: 8;

		// Animation
		@keyframes scroll {
			0% { transform: translateX(0); }
			/* this value works and I don't know why ...*/
			100% { transform: translateX(calc(min(35vh, 35vw) * -17))}
		}
		
		
		// Styling
		.slider {
			background: white;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
			height: min(35vh, 35vw);
			margin: auto;
			overflow:hidden;
			position: relative;
			width: 100%;
			
			&::before,
			&::after {
				@include mygradient;
				content: "";
				height: min(35vh, 35vw);
				position: absolute;
				width: 20vw;
				z-index: 2;
			}
			
			&::after {
				right: 0;
				top: 0;
				transform: rotateZ(180deg);
			}
		
			&::before {
				left: 0;
				top: 0;
			}
			
			.slide-track {
				animation: scroll $animationSpeed linear infinite;
				display: flex;
				width: calc(250px * 5);
			}
			
			.slide {
				height: min(35vh, 35vw);
				> img {
					height: 100%;
					border: min(1vh, 1vw) solid $bgr-second;
				}
			}
		}
	}

	.itchlink {
		padding: 2rem;
		text-align: center;
		font-size: min(1.5rem, 4vw);
		font-weight: normal;
	}

}

.footer {
	padding: 10px;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	background-color: $bgr-second;
}

.glow {
	animation: pulseGlow 5s ease infinite;
}

.contentBox {
	background-color: $bgr-tertiary;
	box-shadow: 1rem 1rem #333333dd;
}


@keyframes pulseGlow {
	0% {
		filter: drop-shadow(0px 0px 40px #fff);
	}
	40% {
		filter: drop-shadow(0px 0px 80px #fff);
	}
	50% {
		filter: drop-shadow(0px 0px 40px #fff);
	}
	60% {
		filter: drop-shadow(0px 0px 80px #fff);
	}
	80% {
		filter: drop-shadow(0px 0px 200px #fff);
	}
	100% {
		filter: drop-shadow(0px 0px 40px #fff);
	}
}